<article class="profile">
	<% if (index) { %>
	<div onclick="window.location.href='photographer-page.html'">
		<img src="photos/id/<%- portrait %>.jpg" alt="" class="profile-photo" />
		<h2><%- name %></h2>
	</div>
	<% } %> <% if (!index) { %>
	<h1><%- name %></h1>
	<% } %>

	<address><%- city %>, <%- country %></address>
	<p class="tagline"><%- tagline %></p>
	<% if (index) { %>
	<p class="price"><%- price %>€/jour</p>
	<% } %> 
	<%- include('../tag/tag.html', {"tag" : "portrait"}); %> 
	
	<% if (!index) { %> <%-
	include('../button/button.html', {"text": "Contactez-moi"}); %>
	<img src="photos/id/<%- portrait %>.jpg" alt="" class="profile-photo" />
	<% } %>
</article>
