.modalBackground {
	// display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: transparent;
}

.formModal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $colorSecondary;
  border-radius: 5px;

  @include desktop {
    width: 700px;
  }

  h2.formTitle {
    color: black;
    width: 90%;
    margin: auto;
    font-size: 36px;

  }

  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

  }

  button {
    margin: auto;
  }
}