.modalBackground {
	// display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: transparent;
}

.formModal {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas:
		"title close"
		"form form"
		"button button";
	grid-template-rows: auto auto 1fr;
	background-color: $colorSecondary;
	border-radius: 5px;

	@include desktop {
		width: 700px;
	}

	h2.formTitle {
		color: black;
		width: 90%;
		margin: 1rem auto;
		// margin: auto;
		font-size: 2.25rem;
		grid-area: title;
	}

	form {
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 1rem auto;
		// margin: auto;
		grid-area: form;

		label {
			font-size: 1.5rem;
		}

    input, textarea {
      border: none;
			border-radius: 5px;
      margin: 0.5rem 0 1rem;
    }
		input {
			min-height: 3.25rem;
		}

    textarea {
      min-height: 12rem;
    }
	}

	button.close {
		grid-area: close;
		width: fit-content;
		height: fit-content;
		// margin: 1rem 0;
		margin: 1rem auto;
		background-color: transparent;
		color: white;
		border: none;
		cursor: pointer;
		font-size: 2rem;
	}
	button.contact {
		margin: 0 auto;
		height: fit-content;
		grid-area: button;
	}
}
