$smallIconWidth: 2rem;
$bigIconWidth: 5rem;

.modal {
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
}

.lightboxModal {
	width: 90vw;
	border-radius: 5px;
	background-color: white;
	border: 1px solid $grey;
	top: 20vh;

  @include desktop {
    top: 5rem;
    max-width: 800px;
  }
}

.lightbox {
	width: 95%;
  // height: 100%;
	margin: 1rem auto 0.5rem;
	display: grid;
	grid-template-areas:
		". photo close"
		"left photo right"
		". photo ."
		". title .";
	grid-template-columns: $smallIconWidth auto $smallIconWidth;
	grid-template-rows: $smallIconWidth 150px $smallIconWidth $smallIconWidth;

	@include desktop {
		grid-template-columns: $bigIconWidth auto $bigIconWidth;
		grid-template-rows: $bigIconWidth auto $bigIconWidth $bigIconWidth;
	}

	.close {
		grid-area: close;
		width: $smallIconWidth;
		display: flex;
		align-items: center;
		justify-content: center;

		@include desktop {
			width: $bigIconWidth;
		}

		&::after {
			content: "\f00d";
			font-family: "Font Awesome 5 Free";
			font-weight: bold;
			color: $colorPrimary;
			// font-size: 1.5rem;

			@include desktop {
				font-size: 3rem;
			}
		}
	}

	img {
		width: 100%;
		height: 100%;
    max-height: 600px;
    max-width: 700px;
		border-radius: 5px;
		object-fit: cover;
		grid-area: photo;

		&::before,
		&::after {
			font-family: "Font Awesome 5 Free";
			font-weight: bold;
			width: $smallIconWidth;
			color: $colorPrimary;
			display: flex;
			align-items: center;
			justify-content: center;

			@include desktop {
				width: $bigIconWidth;
			}
		}

		&::before {
			content: "\f053";
			grid-area: left;
		}

		&::after {
			content: "\f054";
			grid-area: right;
		}
	}

	h3 {
		grid-area: title;
		align-self: center;
	}
}
