<main class="index-main">
	<h1>Nos photographes</h1>
	<%- include('../profile/profile.html', {
		"index" : true, 
		"name" : "Mimi Keel",
		"city" : "London",
		"country" : "UK",
		"tagline" : "Voir le beau dans le quotidien",
		"price" : "400",
		"portrait" : "MimiKeel",
	});
	%>
	<%- include('../profile/profile.html', {
		"index" : true, 
		"name": "Ellie-Rose Wilkens",
		"city": "Paris",
		"country": "France",
		"tagline": "Capturer des compositions complexes",
		"price": 250,
		"portrait": "EllieRoseWilkens"
	});
	%>
	<%- include('../profile/profile.html', {
		"index" : true, 
		"name": "Tracy Galindo",
		"city": "Montreal",
		"country": "Canada",
		"tagline": "Photographe freelance",
		"price": 500,
		"portrait": "TracyGalindo"
	});
	%>
	<%- include('../profile/profile.html', {
		"index" : true, 
		"name": "Nabeel Bradford",
		"city": "Mexico City",
		"country": "Mexico",
		"tagline": "Toujours aller de l'avant",
		"price": 350,
		"portrait": "NabeelBradford"
	});
	%>
	<%- include('../profile/profile.html', {
		"index" : true, 
		"name": "Rhode Dubois",
		"city": "Barcelona",
		"country": "Spain",
		"tagline": "Je crée des souvenirs",
		"price": 275,
		"portrait": "RhodeDubois"
	});
	%>
	<%- include('../profile/profile.html', {
		"index" : true, 
		"name": "Marcel Nikolic",
		"city": "Berlin",
		"country": "Germany",
		"tagline": "Toujours à la recherche de LA photo",
		"price": 300,
		"portrait": "MarcelNikolic"
	});
	%>
</main>
