main {
	width: 90%;
	margin: 1rem auto auto;
	display: flex;
	flex-direction: column;
	row-gap: 10px;

	@include tablet {
		flex-direction: row;
		justify-content: space-evenly;
	}

}

// h1 {
// 	color: $color-primary;
// 	font-size: 14px;
// 	font-weight: 400;

// 	@include tablet {
// 		font-size: 36px;
// 	}
// }
