<main class="photograph-main">
  <%- include('../profile/profile.html', {
		"name" : "Mimi Keel",
		"city" : "London",
		"country" : "UK",
		"tagline" : "Voir le beau dans le quotidien",
		"price" : "400",
		"portrait" : "MimiKeel",
	});
	%>
  <%- include('../dropdown/dropdown.html'); %>

  <div class="gallery">
  <%- include('../work/work-photo.html', {
    "title": "Lonesome",
    "image": "Travel_Lonesome",
    "likes": "88",
	});
	%>
  <%- include('../work/work-photo.html', {
    "title": "Hillside Color",
    "image": "Travel_HillsideColor",
    "likes": "85",
	});
	%>
  <%- include('../work/work-photo.html', {
    "title": "Wednesday Potrait",
    "image": "Portrait_Wednesday",
    "likes": "34",
	});
	%>
  <%- include('../work/work-photo.html', {
    "title": "Nora Portrait",
    "image": "Portrait_Nora",
    "likes": "63",
	});
	%>
  <%- include('../work/work-photo.html', {
    "title": "Raw Black Portrait",
    "image": "Portrait_Background",
    "likes": "55",
	});
	%>
  <%- include('../work/work-photo.html', {
    "title": "Seaside Wedding",
    "image": "Event_SeasideWedding",
    "likes": "25",
	});
	%>
  <%- include('../work/work-photo.html', {
    "title": "Boulder Wedding",
    "image": "Event_PintoWedding",
    "likes": "52",
	});
	%>
  <%- include('../work/work-photo.html', {
    "title": "Benevides Wedding",
    "image": "Event_BenevidesWedding",
    "likes": "77",
	});
	%>
  <%- include('../work/work-photo.html', {
    "title": "Rainbow Bird",
    "image": "Animals_Rainbow",
    "likes": "59",
	});
	%>
  <%- include('../lightbox/lightbox.html'); %>
</div>
</main>