<html lang="en">
	<head>
		<%- include('../components/head/head.html', {"description" : "La plateforme des photographes."}); %>
		<script src="js/pages/photographer-page.js" defer></script>
	</head>
	<body>
		<!-- <%- include('../components/header/header.html', {"index" : false }); %> 
		<%- include('../components/main/photographer-main.html', {"index" : false }); %>
		<%- include('../components/info/photographer-info.html', {"likes" : "297081", "price" : "300" }); %> -->

		<!-- <script src="modal.js"></script> -->
	</body>
</html>
