header {
	width: 90%;
	margin: 1rem auto auto;
	display: grid;
	grid: 80px auto / 45vw 45vw;
	grid-template-areas:
		"logo title"
		"nav nav";
	align-items: center;

  @include desktop {
    grid: 100px / 200px auto 350px;
    grid-template-areas: 
      "logo nav title";
  }

	.img {
		@include tablet {
			justify-self: center;
		}
	}
}


