header {
	position: absolute;
	top: 1rem;
	width: 90vw;
	max-width: 1296px;
	display: grid;
	grid: 80px 70px / 45vw 45vw;
	grid-template-areas:
		"logo ."
		"nav nav";
	align-items: center;

	@include desktop {
		top: 0;
		grid: 100px / 200px auto 350px;
		grid-template-areas: "logo nav .";
		margin: auto;
	}

	.img {
		grid-area: logo;
		@include tablet {
			justify-self: center;
		}
	}

	
}
