.profile-photo {
	border-radius: 50%;
	object-fit: cover;
	margin: 1rem;
	box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.4);
}



.profile {
	display: flex;
	// flex-direction: column;
	// align-items: center;
	flex-wrap: wrap;

	.photographer  {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
		h2 {
			font-size: 2.25rem;
			text-align: center;
		}
	}
	address {
		font-size: 0.82rem;
		width: 100%;
		color: $colorPrimary;
		font-style: normal;
	}

	h2 {
		color: $colorPrimaryText;
		margin: 0;
		font-weight: 400;
	}
	
	p {
		&.tagline {
			color: black;
		}
	}

}

#indexMain {
	.profile {
		justify-content: center;
		text-align: center;

		@include tablet {
			width: 30%;
		}
	}

	p {
		width: 100%;

		&.tagline {
			font-size: 0.625rem;
		}
		&.price {
			color: $darkGrey;
			// font-size: 9px;
			font-size: 0.57rem;
		}
	}

	.profile-photo {
		width: 200px;
		height: 200px;
	}
}

#photographerMain {
	.profile {
		width: 100%;
		margin-bottom: 1rem;
		display: grid;
		grid-template-areas:
			"name photo"
			"address photo"
			"tagline photo"
			"tag photo";

		@include desktop {
			background-color: $lightGrey;
			padding: 3rem;
			border-radius: 5px;
			grid-template-columns: 40% 40% 20%;
			grid-template-areas:
				"name contact photo"
				"address . photo"
				"tagline . photo"
				"tag . photo";
		}

		button.contact {
			position: fixed;
			bottom: 2rem;
			// left: 30vw;
			// margin: auto;
			margin: 0 calc(45vw - 5rem);

			@include desktop {
				grid-area: contact;
				position: static;
				margin: 0;
			}
		}

		div.tags {
			display: flex;
			flex-wrap: wrap;
		}
	}

	h1 {
		font-size: 2.25rem;
		font-weight: 400;
		grid-area: name;

		@include desktop {
			font-size: 4rem;
		}
	}

	address {
		grid-area: address;
		@include desktop {
			font-size: 1.5rem;
		}
	}

	.tags {
		flex-direction: row;
		grid-area: tag;
		margin-top: 0.5rem;
		@include desktop {
			font-size: 1.125rem;
		}
	}

	p.tagline {
		grid-area: tagline;
		font-size: 0.82rem;
		color: $darkGrey;

		@include desktop {
			font-size: 1.125rem;
		}
	}

	.profile-photo {
		width: 100px;
		height: 100px;
		grid-area: photo;
		justify-self: flex-end;
		margin: 0;

		@include desktop {
			width: 200px;
			height: 200px;
		}
	}
}
