.tag {
	font-weight: 500;
	font-size: 0.75rem;
	width: fit-content;
	height: fit-content;
	color: $colorPrimary;
	text-decoration: none;
	border: solid 1px $grey;
	border-radius: 25px;
	display: flex;
	align-items: center;
	padding: 2px 6px;
	margin: 0 5px 5px 0;
	cursor: pointer;
}

nav .tag {
	&.active {
		color: white;
		background-color: $colorPrimary;
		border: none;
	}
}

#photographerMain .tag {
	&:hover {
		color: white;
		background-color: $colorPrimary;
		border: none;
	}
}
